<h1>Lista de paquetes del Proveeedor</h1>

<table>
  <thead>
    <tr>
      <th>Id provedor</th>
      <th>Id paquete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedor_paquetes.each do |proveedor_paquete| %>
      <tr>
        <td><%= proveedor_paquete.id_provedor %></td>
        <td><%= proveedor_paquete.id_paquete %></td>
        <td><%= link_to 'Ver', proveedor_paquete %></td>
        <td><%= link_to 'Editar', edit_proveedor_paquete_path(proveedor_paquete) %></td>
        <td><%= link_to 'Elimiar', proveedor_paquete, method: :delete, data: { confirm: 'Estas seguro que quieres Elimiar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo paquete del proveedor', new_proveedor_paquete_path %>
