<p id="notice"><%= notice %></p>

<p>
  <strong>Id provedor:</strong>
  <%= @proveedor_paquete.id_provedor %>
</p>

<p>
  <strong>Id paquete:</strong>
  <%= @proveedor_paquete.id_paquete %>
</p>

<%= link_to 'Edit', edit_proveedor_paquete_path(@proveedor_paquete) %> |
<%= link_to 'Back', proveedor_paquetes_path %>
