<h1>Hora del Registro del empleado</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del empleado</th>
      <th>Nombre del cliente</th>
      <th>Fecha y hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleado_clientes.each do |empleado_cliente| %>
      <tr>
        <%@nombre_empleado = Empleado.joins('INNER JOIN empleado_clientes ON empleados.id_empleado = empleado_clientes.id_empleado').where('id_empleado' => empleado_cliente.id_empleado)[0].Nombre %>
        <td>
          <%if @nombre_empleado != nil%>
            <%= @nombre_empleado%>
          <%else%>
            <%= "Empleado retirado" %>
          <%end%>
        </td>
        <td>
          <%= Cliente.joins('INNER JOIN empleado_clientes ON clientes.id_cliente = empleado_clientes.id_cliente').where('id_cliente' => empleado_cliente.id_cliente)[0].Nombre %>
         
        </td>
        <td><%= empleado_cliente.created_at %></td>
        <td><%= link_to 'Ver', empleado_cliente %></td>
        <td><%= link_to 'Eliminar', empleado_cliente, method: :delete, data: { confirm: 'Estas seguro que quieres eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%=link_to 'regresar', welcome_cliente_path %>
