<p id="notice"><%= notice %></p>

<p>
  <strong>Id empleado:</strong>
  <%= @empleado_cliente.id_empleado %>
</p>

<p>
  <strong>Id cliente:</strong>
  <%= @empleado_cliente.id_cliente %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @empleado_cliente.created_at %>
</p>


<%= link_to 'Editar', edit_empleado_cliente_path(@empleado_cliente) %> |
<%= link_to 'regresar', empleado_clientes_path %>
