<h1>Lista Paquete</h1>

<table>
  <thead>
    <tr>
      <th>Numero paquete</th>
      <th>Costo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paquetes.each do |paquete| %>
      <tr>
        <td><%= paquete.id_paquete %></td>
        <td><%= paquete.Costo %></td>
        <td><%= paquete.Descripcion %></td>
        <td><%= link_to 'Ver', paquete %></td>
        <td><%= link_to 'Editar', edit_paquete_path(paquete) %></td>
        <td><%= link_to 'Eliminar', paquete, method: :delete, data: { confirm: 'Estas seguro que quieres eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Paquete', new_paquete_path %>
<%= link_to 'Agregar un inventario al paquete', paquete_inventarios_path %>
<%= link_to 'Agregar un proveedor al paquete', proveedor_paquetes_path %>