<h1>Listing paquetes</h1>

<table>
  <thead>
    <tr>
      <th>Id paquete</th>
      <th>Numero paquete</th>
      <th>Costo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paquetes.each do |paquete| %>
      <tr>
        <td><%= paquete.id_paquete %></td>
        <td><%= paquete.Numero_paquete %></td>
        <td><%= paquete.Costo %></td>
        <td><%= paquete.Descripcion %></td>
        <td><%= link_to 'Show', paquete %></td>
        <td><%= link_to 'Edit', edit_paquete_path(paquete) %></td>
        <td><%= link_to 'Destroy', paquete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paquete', new_paquete_path %>
