<p id="notice"><%= notice %></p>

<p>
  <strong>Numero paquete:</strong>
  <%= @paquete.id_paquete %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @paquete.Costo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @paquete.Descripcion %>
</p>

<%= link_to 'Editar', edit_paquete_path(@paquete) %> |
<%= link_to 'Regresar', paquetes_path %>
