<h1>Listing proveedors</h1>

<table>
  <thead>
    <tr>
      <th>Id provedor</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Producto</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedors.each do |proveedor| %>
      <tr>
        <td><%= proveedor.id_provedor %></td>
        <td><%= proveedor.Nombre %></td>
        <td><%= proveedor.Direccion %></td>
        <td><%= proveedor.Telefono %></td>
        <td><%= proveedor.Producto %></td>
        <td><%= proveedor.costo %></td>
        <td><%= link_to 'Ver', proveedor %></td>
        <td><%= link_to 'Editar', edit_proveedor_path(proveedor) %></td>
        <td><%= link_to 'Elimiar', proveedor, method: :delete, data: { confirm: 'Seguro que quieres elimiar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Proveedor', new_proveedor_path %>
