<table>
  <thead>
    <tr>
      <th>Nombre del empleado</th>
      <th>Nombre del cliente</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleado_clientes.each do |empleado_cliente| %>
      <tr>
        <td><%= empleado_cliente.id_empleado %></td>
        <td><%= empleado_cliente.id_cliente %></td>
        <td><%= empleado_cliente.fecha %></td>
        <td><%= empleado_cliente.hora %></td>
        <td><%= link_to 'Ver', empleado_cliente %></td>
        <td><%= link_to 'Editar', edit_empleado_cliente_path(empleado_cliente) %></td>
        <td><%= link_to 'Eliminar', empleado_cliente, method: :delete, data: { confirm: 'Estas seguro que quieres eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>