<h1>Lista de empleados</h1>

<table>
  <thead>
    <tr>
      <th>Id empleado</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Puesto</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.id_empleado %></td>
        <td><%= empleado.Nombre %></td>
        <td><%= empleado.Direccion %></td>
        <td><%= empleado.Telefono %></td>
        <td><%= empleado.Puesto %></td>
        <td><%= empleado.email %></td>
        <td><%= link_to 'Ver', empleado %></td>
        <td><%= link_to 'Editar', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Eliminar', empleado, method: :delete, data: { confirm: 'Seguro que desea elimiar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Empleado', new_user_path %>
