<%= form_for(@fiestum) do |f| %>
  <% if @fiestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiestum.errors.count, "error") %> prohibited this fiestum from being saved:</h2>

      <ul>
      <% @fiestum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :Numero_paquete %><br>
    <%= f.number_field :id_paquete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
