<h1>Lista de fiestas</h1>

<table>
  <thead>
    <tr>
      <th>Id fiesta</th>
      <th>Fecha</th>
      <th>Id cliente</th>
      <th>Id empleado</th>
      <th>Id paquete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fiesta.each do |fiestum| %>
      <tr>
        <td><%= fiestum.id_fiesta %></td>
        <td><%= fiestum.fecha %></td>
        <td><%= fiestum.id_cliente %></td>
        <td><%= fiestum.id_empleado %></td>
        <td><%= fiestum.id_paquete %></td>
        <td><%= link_to 'Ver', fiestum %></td>
        <td><%= link_to 'Editar', edit_fiestum_path(fiestum) %></td>
        <td><%= link_to 'Eliminar', fiestum, method: :delete, data: { confirm: 'Estas seguro que desea elimiar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Fiesta', new_fiestum_path %>
