<p id="notice"><%= notice %></p>

<p>
  <strong>Id fiesta:</strong>
  <%= @fiestum.id_fiesta %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @fiestum.fecha %>
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= Cliente.where('id_cliente' => @fiestum.id_cliente)[0].Nombre %>
</p>

<p>
  <strong>Numero de paquete:</strong>
  <%= @fiestum.id_paquete %>
</p>

<%= link_to 'Editar', edit_fiestum_path(@fiestum) %> |
<%= link_to 'regresar', fiesta_path %>
