<%= form_for(@inventario) do |f| %>
  <% if @inventario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventario.errors.count, "error") %> prohibited this inventario from being saved:</h2>

      <ul>
      <% @inventario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :Producto %><br>
    <%= f.text_field :Producto %>
  </div>
  <div class="field">
    <%= f.label :Cantidad %><br>
    <%= f.number_field :Cantidad %>
  </div>
  <div class="field">
    <%= f.label :costo_por_elemento %><br>
    <%= f.number_field :costo_por_elemento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
