<h1>Inventario</h1>

<table>
  <thead>
    <tr>
      <th>Id inventario</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Id empleado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
        <td><%= inventario.id_inventario %></td>
        <td><%= inventario.Producto %></td>
        <td><%= inventario.Cantidad %></td>
        <td><%= inventario.id_empleado %></td>
        <td><%= link_to 'Ver', inventario %></td>
        <td><%= link_to 'Editar', edit_inventario_path(inventario) %></td>
        <td><%= link_to 'Eliminar', inventario, method: :delete, data: { confirm: 'Estas seguro que desea Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Inventario', new_inventario_path %>
