<p id="notice"><%= notice %></p>

<p>
  <strong>Id inventario:</strong>
  <%= @inventario.id_inventario %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @inventario.Producto %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @inventario.Cantidad %>
</p>

<p>
  <strong>Costo por elemento:</strong>
  <%= @inventario.costo_por_elemento %>
</p>

<%= link_to 'Editar', edit_inventario_path(@inventario) %> |
<%= link_to 'Regresar', inventarios_path %>
